In [5]:
import numpy as np
import pandas as pd
import pymannkendall as mk
import matplotlib.pyplot as plt

In [6]:
def perform_mk_test(column_data):
    result = mk.original_test(column_data)

    trend = result.trend
    tau = result.Tau
    sen_slope = result.slope
    p_value = result.p
    
    print("Trend:", trend)
    print("Tau:", tau)
    print("Sen's Slope:", sen_slope)
    print("Significance level (p-value):", p_value)
    print()

In [7]:
import pymannkendall as mk

def perform_modified_mk_test(column_data):
    result = mk.hamed_rao_modification_test(column_data)

    trend = result.trend
    tau = result.Tau
    sen_slope = result.slope
    p_value = result.p
    
    print("Trend:", trend)
    print("Tau:", tau)
    print("Sen's Slope:", sen_slope)
    print("Significance level (p-value):", p_value)
    print()

In [9]:
Peakflow = pd.read_excel("Shell Creek Peakflow.xlsx")

In [10]:
Peakflow_trend_1947_2023 = mk.hamed_rao_modification_test(Peakflow.iloc[:, 1])
print(Peakflow_trend_1947_2023)

Modified_Mann_Kendall_Test_Hamed_Rao_Approach(trend='no trend', h=np.False_, p=np.float64(0.60989845710315), z=np.float64(-0.5102184081676908), Tau=np.float64(-0.039986329460013674), s=np.float64(-117.0), var_s=np.float64(51689.666666666664), slope=np.float64(-3.0277777777777777), intercept=np.float64(1695.0555555555557))

In [11]:
#Daily Streamflow

In [12]:
Hydro_data = pd.read_csv("ShellCreek_Hydro_Data.csv")
Hydro_data['Date'] = pd.to_datetime(Hydro_data['Date'])
Hydro_data = Hydro_data[(Hydro_data['Date'] >= '1993-01-01') & (Hydro_data['Date'] <= '2023-12-31')]
Hydro_data.set_index('Date', inplace=True)

In [14]:
Daily_Discharge_trend = mk.hamed_rao_modification_test(Hydro_data.iloc[:, 8])
Daily_Discharge_trend

Modified_Mann_Kendall_Test_Hamed_Rao_Approach(trend='no trend', h=np.False_, p=np.float64(0.6900148036355975), z=np.float64(-0.39883497603110984), Tau=np.float64(-0.029177205076237066), s=np.float64(-1869914.0), var_s=np.float64(21981449531428.676), slope=np.float64(-0.00025407090888093347), intercept=np.float64(30.33816837972052))

In [ ]:
#Daily Atmospheric Variables

In [18]:
Hydro_data = pd.read_csv("ShellCreek_Hydro_Data.csv")
Hydro_data['Date'] = pd.to_datetime(Hydro_data['Date'])
Hydro_data = Hydro_data[(Hydro_data['Date'] >= '1990-01-01') & (Hydro_data['Date'] <= '2023-12-31')]
Hydro_data.set_index('Date', inplace=True)
Hydro_data = Hydro_data.drop(columns=["Streamflow - Daily", "Maximum Temperature", "Minimum Temperature"])

In [20]:
for column in Hydro_data.columns:
    print("Column:", column)
    perform_modified_mk_test(Hydro_data[column])

Column: Precipitation
Trend: no trend
Tau: 0.00968837331775403
Sen's Slope: 0.0
Significance level (p-value): 0.302457426331729

Column: Dew Point Temperature
Trend: no trend
Tau: 0.0173802397087218
Sen's Slope: 7.761966364812414e-05
Significance level (p-value): 0.06937099939712832

Column: Mean Temperature
Trend: increasing
Tau: 0.019431962682201768
Sen's Slope: 9.302325581395481e-05
Significance level (p-value): 0.014203082040752824

Column: Minimum Vapor Pressure Deficit
Trend: no trend
Tau: -0.03683366881264734
Sen's Slope: -8.648025367541087e-06
Significance level (p-value): 0.3181000905182252

Column: Maximum Vapor Pressure Deficit
Trend: increasing
Tau: 0.02349374690917575
Sen's Slope: 7.209062821833168e-05
Significance level (p-value): 0.048904795776559595

Column: Snow Depth
Trend: no trend
Tau: -0.01882969044256082
Sen's Slope: 0.0
Significance level (p-value): 0.09751538614169064

In [21]:
# ACPs

In [33]:
Cover_Crop = pd.read_excel("Shell Creek_Cover Crop Extent_1990-2021.xlsx")
Cover_Crop = Cover_Crop.drop(['Year'], axis=1)
Crop_Health = pd.read_excel("Shell Creek_Crop Persistence_1990-2021.xlsx")
Crop_Health = Crop_Health.drop(['Year'], axis=1)
Summer_Crop = pd.read_excel("Shell Creek_Summer Crop_1990-2021.xlsx")
Summer_Crop = Summer_Crop.drop(['Year'], axis=1)
Tillage_Classification = pd.read_excel("Shell Creek_Tillage_2014-2021.xlsx")
Tillage_Classification = Tillage_Classification.drop(['Year'], axis=1)

In [34]:
for column in Crop_Health.columns:
    print("Column:", column)
    perform_modified_mk_test(Crop_Health[column])

Column: Area with value 5
Trend: increasing
Tau: 0.4112903225806452
Sen's Slope: 228.5066677375862
Significance level (p-value): 1.730337428895723e-08

Column: Area with value 6
Trend: increasing
Tau: 0.46975806451612906
Sen's Slope: 231.49733694827586
Significance level (p-value): 0.0008995274167911127

Column: Area with value 7
Trend: increasing
Tau: 0.5342741935483871
Sen's Slope: 16.450651985294115
Significance level (p-value): 4.2737008021376255e-07

In [35]:
for column in Cover_Crop.columns:
    print("Column:", column)
    perform_modified_mk_test(Cover_Crop[column])

Column: Cover Crops Extent
Trend: increasing
Tau: 0.3790322580645161
Sen's Slope: 324.1766254067506
Significance level (p-value): 0.002425557940292755

Column: Winter Commodity Crops Extent
Trend: no trend
Tau: -0.04233870967741935
Sen's Slope: 0.0
Significance level (p-value): 0.6687560401125405

In [36]:
for column in Summer_Crop.columns:
    print("Column:", column)
    perform_modified_mk_test(Summer_Crop[column])

Column: Planting tracked
Trend: decreasing
Tau: -0.4274193548387097
Sen's Slope: -918.5954278295455
Significance level (p-value): 2.720728059002475e-05

Column: Harvest tracked
Trend: no trend
Tau: 0.03225806451612903
Sen's Slope: 75.6312372692307
Significance level (p-value): 0.8078142165841911

Column: Summer Cropping Extent
Trend: increasing
Tau: 0.2782258064516129
Sen's Slope: 1936.778101874997
Significance level (p-value): 0.0049796233099117515

In [37]:
for column in Tillage_Classification.columns:
    print("Column:", column)
    perform_modified_mk_test(Tillage_Classification[column])

Column: Conventional Tillage
Trend: no trend
Tau: 0.047619047619047616
Sen's Slope: 318.7333333333333
Significance level (p-value): 1.0

Column: Reduced Tillage
Trend: increasing
Tau: 0.42857142857142855
Sen's Slope: 3832.0099999999998
Significance level (p-value): 0.0014784647972274634

Column: No Tillage
Trend: no trend
Tau: 0.14285714285714285
Sen's Slope: 974.8300000000003
Significance level (p-value): 0.7638905934705396

In [38]:
#For Yearly Analysis

Inorganic_Nitrate_data_Y = pd.read_excel("NDEE Nitrate_Filtered.xlsx")
Inorganic_Nitrate_data_Y['Date'] = pd.to_datetime(Inorganic_Nitrate_data_Y['Date'])
Inorganic_Nitrate_data_Y = Inorganic_Nitrate_data_Y.groupby(pd.Grouper(key='Date', freq='YE')).mean(numeric_only=True)

Total_Phosphorus_data_Y = pd.read_excel("NDEE Total Phosphorus_Filtered.xlsx")
Total_Phosphorus_data_Y['Date'] = pd.to_datetime(Total_Phosphorus_data_Y['Date'])
Total_Phosphorus_data_Y = Total_Phosphorus_data_Y.groupby(pd.Grouper(key='Date', freq='YE')).mean(numeric_only=True)

Turbidity_data_Y = pd.read_excel("NDEE_Turbidity_Filtered.xlsx")
Turbidity_data_Y['Date'] = pd.to_datetime(Turbidity_data_Y['Date'])
Turbidity_data_Y = Turbidity_data_Y.groupby(pd.Grouper(key='Date', freq='YE')).mean(numeric_only=True)

Total_Suspended_Solids_data_Y = pd.read_excel("NDEE Total Suspended Solids_Filtered.xlsx")
Total_Suspended_Solids_data_Y['Date'] = pd.to_datetime(Total_Suspended_Solids_data_Y['Date'])
Total_Suspended_Solids_data_Y = Total_Suspended_Solids_data_Y.groupby(pd.Grouper(key='Date', freq='YE')).mean(numeric_only=True)

Stream_Temperature_data_Y = pd.read_excel("NDEE Stream Temperature_Filtered.xlsx")
Stream_Temperature_data_Y['Date'] = pd.to_datetime(Stream_Temperature_data_Y['Date'])
Stream_Temperature_data_Y = Stream_Temperature_data_Y.groupby(pd.Grouper(key='Date', freq='YE')).mean(numeric_only=True)

Specific_Conductance_data_Y = pd.read_excel("NDEE Specific Conductance_Filtered.xlsx")
Specific_Conductance_data_Y['Date'] = pd.to_datetime(Specific_Conductance_data_Y['Date'])
Specific_Conductance_data_Y = Specific_Conductance_data_Y.groupby(pd.Grouper(key='Date', freq='YE')).mean(numeric_only=True)

Dissolved_Oxygen_data_Y = pd.read_excel("NDEE Dissolved Oxygen_Filtered.xlsx")
Dissolved_Oxygen_data_Y['Date'] = pd.to_datetime(Dissolved_Oxygen_data_Y['Date'])
Dissolved_Oxygen_data_Y = Dissolved_Oxygen_data_Y.groupby(pd.Grouper(key='Date', freq='YE')).mean(numeric_only=True)

Atrazine_data_Y = pd.read_excel("NDEE Atrazine_Filtered.xlsx")
Atrazine_data_Y['Date'] = pd.to_datetime(Atrazine_data_Y['Date'])
Atrazine_data_Y = Atrazine_data_Y.groupby(pd.Grouper(key='Date', freq='YE')).mean(numeric_only=True)

EColi_data_Y = pd.read_excel("NDEE E Coli_Filtered.xlsx")
EColi_data_Y['Date'] = pd.to_datetime(EColi_data_Y['Date'])
EColi_data_Y = EColi_data_Y.groupby(pd.Grouper(key='Date', freq='YE')).mean(numeric_only=True)

WQ_Data_Yearly = pd.concat([Inorganic_Nitrate_data_Y, Total_Phosphorus_data_Y, Turbidity_data_Y, Total_Suspended_Solids_data_Y,
                            Stream_Temperature_data_Y, Specific_Conductance_data_Y, Dissolved_Oxygen_data_Y,
                            Atrazine_data_Y, EColi_data_Y], axis = 1)

WQ_Data_Yearly.reset_index(drop=True, inplace=True)
WQ_Data_Yearly

,Inorganic Nitrogen Concentration,Total Phosphorus Concentration,Turbidity,Total Suspended Solids,Stream Temperature,Specific Conductance,Dissolved oxygen,Atrazine,E. Coli
0,1.179130,0.252604,16.250000,13.000000,15.505000,612.166667,11.236667,0.900000,NaN
1,1.958644,1.613527,57.200000,1217.875000,10.171667,610.583333,10.356667,9.561667,NaN
2,2.541236,2.445820,633.506250,1379.588235,14.822778,558.500000,10.243889,1.782222,NaN
3,1.957668,0.828967,45.290000,520.555556,16.540000,560.941176,10.306111,3.258824,NaN
4,2.171065,0.849980,163.837143,258.361111,14.432500,578.411765,9.241875,4.100000,NaN
5,5.200942,1.306852,358.553333,568.027778,14.533529,677.705882,8.934706,1.913636,NaN
6,4.462727,0.747273,275.591667,325.318182,11.310833,666.000000,10.756667,1.393333,NaN
7,3.717342,0.661638,239.368966,218.493103,15.817931,655.724138,9.731724,2.528261,5429.626087
8,3.715658,1.563143,850.425000,1059.958333,11.035000,611.400000,9.871667,1.960000,NaN
9,4.060833,0.461833,97.841667,134.375000,12.274167,703.550000,9.890833,0.550000,NaN
10,2.642333,0.455167,131.150000,126.708333,13.660833,671.500000,10.215000,0.803333,NaN
11,4.385000,0.937000,427.566667,335.291667,9.019167,653.991667,10.463333,7.756000,NaN
12,4.143667,0.476250,150.883333,138.541667,10.848333,663.758333,10.159167,4.858333,NaN
13,3.759091,1.478971,412.888889,562.371429,16.793103,669.321429,8.779310,1.598750,2665.458333
14,5.413333,0.790417,223.000000,274.791667,12.183333,674.916667,9.975000,1.338000,NaN
15,4.814167,1.412500,605.166667,530.983333,11.716667,654.666667,10.625000,0.972000,461.291667
16,4.795833,1.034167,322.416667,429.775000,10.600000,719.636364,9.875000,1.454000,2116.416667
17,6.001667,0.739083,59.800000,241.666667,10.700000,735.750000,10.300000,1.234000,4291.666667
18,5.397917,0.609667,48.833333,162.708333,10.433333,743.708333,10.600000,1.050000,1450.458333
19,5.244444,0.508778,79.777778,145.944444,12.100000,727.900000,9.870000,0.852000,4663.166667

In [39]:
#For Growing Season Analysis - May to September

Inorganic_Nitrate_data_G = pd.read_excel("NDEE Nitrate_Filtered.xlsx")
Inorganic_Nitrate_data_G['Date'] = pd.to_datetime(Inorganic_Nitrate_data_G['Date'])
Inorganic_Nitrate_data_filtered_G = Inorganic_Nitrate_data_G[Inorganic_Nitrate_data_G['Date'].dt.month.isin([5, 6, 7, 8, 9])].copy()
Inorganic_Nitrate_data_filtered_G['Year'] = Inorganic_Nitrate_data_filtered_G['Date'].dt.year
Inorganic_Nitrate_data_yearly_avg_G = Inorganic_Nitrate_data_filtered_G.groupby('Year').mean(numeric_only=True)

Total_Phosphorus_data_G = pd.read_excel("NDEE Total Phosphorus_Filtered.xlsx")
Total_Phosphorus_data_G['Date'] = pd.to_datetime(Total_Phosphorus_data_G['Date'])
Total_Phosphorus_data_filtered_G = Total_Phosphorus_data_G[Total_Phosphorus_data_G['Date'].dt.month.isin([5, 6, 7, 8, 9])].copy()
Total_Phosphorus_data_filtered_G['Year'] = Total_Phosphorus_data_filtered_G['Date'].dt.year
Total_Phosphorus_data_yearly_avg_G = Total_Phosphorus_data_filtered_G.groupby('Year').mean(numeric_only=True)

Turbidity_data_G = pd.read_excel("NDEE_Turbidity_Filtered.xlsx")
Turbidity_data_G['Date'] = pd.to_datetime(Turbidity_data_G['Date'])
Turbidity_data_filtered_G = Turbidity_data_G[Turbidity_data_G['Date'].dt.month.isin([5, 6, 7, 8, 9])].copy()
Turbidity_data_filtered_G['Year'] = Turbidity_data_filtered_G['Date'].dt.year
Turbidity_data_yearly_avg_G = Turbidity_data_filtered_G.groupby('Year').mean(numeric_only=True)

Total_Suspended_Solids_data_G = pd.read_excel("NDEE Total Suspended Solids_Filtered.xlsx")
Total_Suspended_Solids_data_G['Date'] = pd.to_datetime(Total_Suspended_Solids_data_G['Date'])
Total_Suspended_Solids_data_filtered_G = Total_Suspended_Solids_data_G[Total_Suspended_Solids_data_G['Date'].dt.month.isin([5, 6, 7, 8, 9])].copy()
Total_Suspended_Solids_data_filtered_G['Year'] = Total_Suspended_Solids_data_filtered_G['Date'].dt.year
Total_Suspended_Solids_data_yearly_avg_G = Total_Suspended_Solids_data_filtered_G.groupby('Year').mean(numeric_only=True)

Stream_Temperature_data_G = pd.read_excel("NDEE Stream Temperature_Filtered.xlsx")
Stream_Temperature_data_G['Date'] = pd.to_datetime(Stream_Temperature_data_G['Date'])
Stream_Temperature_data_filtered_G = Stream_Temperature_data_G[Stream_Temperature_data_G['Date'].dt.month.isin([5, 6, 7, 8, 9])].copy()
Stream_Temperature_data_filtered_G['Year'] = Stream_Temperature_data_filtered_G['Date'].dt.year
Stream_Temperature_data_yearly_avg_G = Stream_Temperature_data_filtered_G.groupby('Year').mean(numeric_only=True)

Specific_Conductance_data_G = pd.read_excel("NDEE Specific Conductance_Filtered.xlsx")
Specific_Conductance_data_G['Date'] = pd.to_datetime(Specific_Conductance_data_G['Date'])
Specific_Conductance_data_filtered_G = Specific_Conductance_data_G[Specific_Conductance_data_G['Date'].dt.month.isin([5, 6, 7, 8, 9])].copy()
Specific_Conductance_data_filtered_G['Year'] = Specific_Conductance_data_filtered_G['Date'].dt.year
Specific_Conductance_data_yearly_avg_G = Specific_Conductance_data_filtered_G.groupby('Year').mean(numeric_only=True)

Dissolved_Oxygen_data_G = pd.read_excel("NDEE Dissolved Oxygen_Filtered.xlsx")
Dissolved_Oxygen_data_G['Date'] = pd.to_datetime(Dissolved_Oxygen_data_G['Date'])
Dissolved_Oxygen_data_filtered_G = Dissolved_Oxygen_data_G[Dissolved_Oxygen_data_G['Date'].dt.month.isin([5, 6, 7, 8, 9])].copy()
Dissolved_Oxygen_data_filtered_G['Year'] = Dissolved_Oxygen_data_filtered_G['Date'].dt.year
Dissolved_Oxygen_data_yearly_avg_G = Dissolved_Oxygen_data_filtered_G.groupby('Year').mean(numeric_only=True)

Atrazine_data_G = pd.read_excel("NDEE Atrazine_Filtered.xlsx")
Atrazine_data_G['Date'] = pd.to_datetime(Atrazine_data_G['Date'])
Atrazine_data_filtered_G = Atrazine_data_G[Atrazine_data_G['Date'].dt.month.isin([5, 6, 7, 8, 9])].copy()
Atrazine_data_filtered_G['Year'] = Atrazine_data_filtered_G['Date'].dt.year
Atrazine_data_yearly_avg_G = Atrazine_data_filtered_G.groupby('Year').mean(numeric_only=True)

EColi_data_G = pd.read_excel("NDEE E Coli_Filtered.xlsx")
EColi_data_G['Date'] = pd.to_datetime(EColi_data_G['Date'])
EColi_data_filtered_G = EColi_data_G[EColi_data_G['Date'].dt.month.isin([5, 6, 7, 8, 9])].copy()
EColi_data_filtered_G['Year'] = EColi_data_filtered_G['Date'].dt.year
EColi_data_yearly_avg_G = EColi_data_filtered_G.groupby('Year').mean(numeric_only=True)


WQ_Data_GrowingS = pd.concat([Inorganic_Nitrate_data_yearly_avg_G, Total_Phosphorus_data_yearly_avg_G, Turbidity_data_yearly_avg_G, 
                              Total_Suspended_Solids_data_yearly_avg_G,
                            Stream_Temperature_data_yearly_avg_G, Specific_Conductance_data_yearly_avg_G, Dissolved_Oxygen_data_yearly_avg_G,
                            Atrazine_data_yearly_avg_G, EColi_data_yearly_avg_G], axis = 1)

WQ_Data_GrowingS.reset_index(drop=True, inplace=True)
WQ_Data_GrowingS

,Inorganic Nitrogen Concentration,Total Phosphorus Concentration,Turbidity,Total Suspended Solids,Stream Temperature,Specific Conductance,Dissolved oxygen,Atrazine,E. Coli
0,0.838673,0.323026,11.500000,14.000000,24.730000,581.000000,9.253333,0.966667,NaN
1,2.341049,3.530759,104.033333,2887.800000,20.092000,558.600000,6.760000,22.674000,NaN
2,2.217458,3.224359,1003.730000,1757.350000,21.430000,516.300000,9.954000,2.950000,NaN
3,2.011984,1.257671,44.796000,895.900000,21.987000,520.300000,9.240000,6.005556,NaN
4,1.914100,1.001750,108.883333,328.000000,21.440000,528.222222,8.521250,6.385000,NaN
5,5.153934,1.383316,362.566667,572.300000,22.655556,648.777778,6.754444,2.218889,NaN
6,3.610000,1.142500,516.720000,691.375000,20.952000,597.800000,8.100000,1.662000,NaN
7,3.570382,0.726215,285.872727,259.477273,19.712273,637.954545,8.769091,2.640909,5429.626087
8,3.622000,2.986800,1888.000000,2377.200000,21.094000,527.600000,6.334000,2.342000,NaN
9,3.910000,0.634600,165.360000,237.400000,20.992000,709.080000,8.724000,0.648000,NaN
10,2.075600,0.553600,207.660000,179.000000,23.146000,649.000000,8.460000,0.926000,NaN
11,4.600000,1.593200,823.420000,712.800000,17.966000,649.440000,8.060000,7.756000,NaN
12,3.784800,0.708800,265.740000,266.600000,19.966000,596.400000,8.074000,4.858333,NaN
13,3.676154,1.741857,512.428571,667.214286,20.359091,652.952381,8.009091,1.598750,2665.458333
14,5.904000,1.195600,443.500000,520.600000,20.460000,591.400000,8.080000,1.338000,NaN
15,5.198000,1.476000,849.400000,932.100000,19.820000,711.200000,8.900000,0.972000,608.400000
16,4.254000,0.965600,292.400000,388.200000,21.040000,726.250000,7.680000,1.454000,3357.200000
17,6.128000,1.085600,103.666667,433.500000,19.300000,686.000000,7.980000,1.234000,9652.600000
18,5.920000,0.635000,59.200000,213.200000,17.620000,738.000000,8.800000,1.050000,2833.000000
19,5.096000,0.496600,88.400000,108.600000,16.933333,715.000000,8.716667,0.852000,3898.000000

In [40]:
#Yearly
for column in WQ_Data_Yearly.columns:
    print("Column:", column)
    perform_modified_mk_test(WQ_Data_Yearly[column])

Column: Inorganic Nitrogen Concentration
Trend: increasing
Tau: 0.6210526315789474
Sen's Slope: 0.198548467511655
Significance level (p-value): 0.00014706061096125822

Column: Total Phosphorus Concentration
Trend: no trend
Tau: -0.16842105263157894
Sen's Slope: -0.017755491799866796
Significance level (p-value): 0.31452486905097254

Column: Turbidity
Trend: no trend
Tau: 0.031578947368421054
Sen's Slope: 1.145374779541446
Significance level (p-value): 0.8711314915971582

Column: Total Suspended Solids
Trend: no trend
Tau: -0.21052631578947367
Sen's Slope: -16.377088122605365
Significance level (p-value): 0.20575410127305505

Column: Stream Temperature
Trend: decreasing
Tau: -0.3368421052631579
Sen's Slope: -0.20065393518518504
Significance level (p-value): 0.040954544320382924

Column: Specific Conductance
Trend: increasing
Tau: 0.5789473684210527
Sen's Slope: 7.594174192665568
Significance level (p-value): 0.0004055786023198227

Column: Dissolved oxygen
Trend: no trend
Tau: -0.07368421052631578
Sen's Slope: -0.00597222222222223
Significance level (p-value): 0.6731887478154435

Column: Atrazine
Trend: no trend
Tau: -0.3157894736842105
Sen's Slope: -0.09267556818181824
Significance level (p-value): 0.05559297481886971

Column: E. Coli
Trend: no trend
Tau: -0.047619047619047616
Sen's Slope: -63.871618357487854
Significance level (p-value): 1.0

In [41]:
#Growing Season
for column in WQ_Data_GrowingS.columns:
    print("Column:", column)
    perform_modified_mk_test(WQ_Data_GrowingS[column])

Column: Inorganic Nitrogen Concentration
Trend: increasing
Tau: 0.6105263157894737
Sen's Slope: 0.21352980561294765
Significance level (p-value): 0.00019065106015947464

Column: Total Phosphorus Concentration
Trend: no trend
Tau: -0.24210526315789474
Sen's Slope: -0.04055232500000003
Significance level (p-value): 0.14429205544010526

Column: Turbidity
Trend: no trend
Tau: 0.031578947368421054
Sen's Slope: 2.13333333333333
Significance level (p-value): 0.8711314915971582

Column: Total Suspended Solids
Trend: no trend
Tau: -0.25263157894736843
Sen's Slope: -27.22441724941725
Significance level (p-value): 0.12728869225659967

Column: Stream Temperature
Trend: decreasing
Tau: -0.49473684210526314
Sen's Slope: -0.1831250000000001
Significance level (p-value): 0.0025502176384633035

Column: Specific Conductance
Trend: increasing
Tau: 0.6105263157894737
Sen's Slope: 8.974358974358967
Significance level (p-value): 6.499951221705658e-08

Column: Dissolved oxygen
Trend: no trend
Tau: -0.15789473684210525
Sen's Slope: -0.02437037037037026
Significance level (p-value): 0.3467641835161843

Column: Atrazine
Trend: decreasing
Tau: -0.4
Sen's Slope: -0.1331060606060606
Significance level (p-value): 0.01496101767517577

Column: E. Coli
Trend: no trend
Tau: 0.14285714285714285
Sen's Slope: 180.26666666666674
Significance level (p-value): 0.7638905934705396